$border: 15px;
$btnBordet: 0px;
* {
  text-transform: capitalize;
  //removing input arrow
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  #advanced-btn {
    border-bottom-right-radius: $btnBordet;
    border-bottom-left-radius: $btnBordet;
    border-top-left-radius: $border;
    border-top-right-radius: $border;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
  #normal-btn {
    border-bottom-right-radius: $btnBordet;
    border-bottom-left-radius: $btnBordet;
    border-top-left-radius: $border;
    border-top-right-radius: $border;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
  #input {
    background: #f8f9fa;
    height: 45vh;
    border-top-left-radius: $border;
    border-top-right-radius: $border;
  }
  #output {
    background: #f8f9fa;
    min-height: 45vh;
    border-bottom-left-radius: $border;
    border-bottom-right-radius: $border;
    transition: all 0.5s;
  }
}
